In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# from sklearn.preprocessing import LabelEncoder
# from sklearn.model_selection import train_test_split
# import tensorflow as tf

## Import Train and Test data
df = Train data

df2 = Test Data

In [2]:

df = pd.read_csv(r'd:\DaneshKar\Project_Eden\Clean_Loan.csv')

# نمایش داده‌ها
df.head(10)

,Dependents,Education,Credit_History,Property_Area,Loan_Status,Gender_Male,Married_Yes,Self_Employed_Yes,Log_ApplicantIncome,Log_CoapplicantIncome,Log_LoanAmount,BoxCox_Loan_Amount_Term
0,0,1,1.0,2,1,1,0,0,8.674197,0.000000,4.859812,1.623179e+07
1,1,1,1.0,0,0,1,1,0,8.430327,7.319202,4.859812,1.623179e+07
2,0,1,1.0,2,1,1,1,1,8.006701,0.000000,4.204693,1.623179e+07
3,0,0,1.0,2,1,1,1,0,7.857094,7.765993,4.795791,1.623179e+07
4,0,1,1.0,2,1,1,0,0,8.699681,0.000000,4.955827,1.623179e+07
5,2,1,1.0,2,1,1,1,1,8.597482,8.342125,5.590987,1.623179e+07
6,0,0,1.0,2,1,1,1,0,7.755339,7.324490,4.564348,1.623179e+07
7,3,1,0.0,1,0,1,1,0,8.018625,7.826044,5.068904,1.623179e+07
8,2,1,1.0,2,1,1,1,0,8.295798,7.331060,5.129899,1.623179e+07
9,1,1,1.0,1,0,1,1,0,9.460476,9.302828,5.857933,1.623179e+07

In [3]:
df2 = pd.read_csv(r'd:\DaneshKar\Project_Eden\Clean_Test.csv')

# نمایش داده‌ها
df2.head(10)

,Dependents,Education,Credit_History,Property_Area,Gender_Male,Married_Yes,Self_Employed_Yes,Log_ApplicantIncome,Log_CoapplicantIncome,Log_LoanAmount,BoxCox_Loan_Amount_Term
0,0,1,1.0,2,1,1,0,8.651899,0.000000,4.709530,1.757278e+07
1,1,1,1.0,2,1,1,0,8.031710,7.313887,4.844187,1.757278e+07
2,2,1,1.0,2,1,1,0,8.517393,7.496097,5.342334,1.757278e+07
3,2,1,1.0,2,1,1,0,7.758333,7.842671,4.615121,1.757278e+07
4,0,0,1.0,2,1,0,0,8.094684,0.000000,4.369448,1.757278e+07
5,0,0,1.0,2,1,1,1,7.680637,8.138273,5.030438,1.757278e+07
6,1,0,1.0,1,0,0,0,7.708411,0.000000,4.094345,1.757278e+07
7,2,0,0.0,0,1,1,0,8.264106,0.000000,4.997212,1.757278e+07
8,2,1,1.0,2,1,1,0,9.520322,0.000000,5.638355,5.185310e+06
9,0,0,1.0,1,1,0,0,7.783641,7.783641,4.820282,1.757278e+07

In [4]:
df.describe()

,Dependents,Education,Credit_History,Property_Area,Loan_Status,Gender_Male,Married_Yes,Self_Employed_Yes,Log_ApplicantIncome,Log_CoapplicantIncome,Log_LoanAmount,BoxCox_Loan_Amount_Term
count,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,6.000000e+02
mean,0.755000,0.786667,0.861667,1.033333,0.690000,0.818333,0.653333,0.133333,8.343915,4.273370,4.869311,1.520262e+07
std,1.011606,0.410003,0.345538,0.785228,0.462879,0.385891,0.476306,0.340218,0.649093,3.877099,0.494390,5.755526e+06
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.017280,0.000000,2.302585,7.422095e+02
25%,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,7.966066,0.000000,4.634729,1.623179e+07
50%,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,8.246565,7.047395,4.859812,1.623179e+07
75%,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,0.000000,8.668497,7.723223,5.111988,1.623179e+07
max,3.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,11.302217,10.637489,6.552508,3.846388e+07

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dependents               600 non-null    int64
 1   Education                600 non-null    int64
 2   Credit_History           600 non-null    float64
 3   Property_Area            600 non-null    int64
 4   Loan_Status              600 non-null    int64
 5   Gender_Male              600 non-null    int64
 6   Married_Yes              600 non-null    int64
 7   Self_Employed_Yes        600 non-null    int64
 8   Log_ApplicantIncome      600 non-null    float64
 9   Log_CoapplicantIncome    600 non-null    float64
 10  Log_LoanAmount           600 non-null    float64
 11  BoxCox_Loan_Amount_Term  600 non-null    float64
dtypes: float64(5), int64(7)
memory usage: 56.4 KB

In [7]:
from sklearn.preprocessing import StandardScaler
# Exclude 'Loan_Status' from standardizing
columns_to_standardize = [col for col in df.select_dtypes(include=['float64', 'int64']).columns if col != 'Loan_Status']

scaler = StandardScaler()

# Fit on training data and transform both training and test data
df[columns_to_standardize] = scaler.fit_transform(df[columns_to_standardize])
df2[columns_to_standardize] = scaler.transform(df2[columns_to_standardize])

In [8]:
df.head(10)

,Dependents,Education,Credit_History,Property_Area,Loan_Status,Gender_Male,Married_Yes,Self_Employed_Yes,Log_ApplicantIncome,Log_CoapplicantIncome,Log_LoanAmount,BoxCox_Loan_Amount_Term
0,-0.746961,0.520756,0.400676,1.232092,1,0.471164,-1.372813,-0.392232,0.509261,-1.103128,-0.019229,0.178964
1,0.242391,0.520756,0.400676,-1.317064,0,0.471164,0.728431,-0.392232,0.133239,0.786251,-0.019229,0.178964
2,-0.746961,0.520756,0.400676,1.232092,1,0.471164,0.728431,2.549510,-0.519949,-1.103128,-1.345442,0.178964
3,-0.746961,-1.920286,0.400676,1.232092,1,0.471164,0.728431,-0.392232,-0.750627,0.901586,-0.148834,0.178964
4,-0.746961,0.520756,0.400676,1.232092,1,0.471164,-1.372813,-0.392232,0.548556,-1.103128,0.175141,0.178964
5,1.231743,0.520756,0.400676,1.232092,1,0.471164,0.728431,2.549510,0.390975,1.050309,1.460948,0.178964
6,-0.746961,-1.920286,0.400676,1.232092,1,0.471164,0.728431,-0.392232,-0.907523,0.787616,-0.617362,0.178964
7,2.221095,0.520756,-2.495780,-0.042486,0,0.471164,0.728431,-0.392232,-0.501562,0.917087,0.404053,0.178964
8,1.231743,0.520756,0.400676,1.232092,1,0.471164,0.728431,-0.392232,-0.074191,0.789312,0.527529,0.178964
9,0.242391,0.520756,0.400676,-0.042486,0,0.471164,0.728431,-0.392232,1.721623,1.298305,2.001350,0.178964

In [9]:
df2.head(10)

,Dependents,Education,Credit_History,Property_Area,Gender_Male,Married_Yes,Self_Employed_Yes,Log_ApplicantIncome,Log_CoapplicantIncome,Log_LoanAmount,BoxCox_Loan_Amount_Term
0,-0.746961,0.520756,0.400676,1.232092,0.471164,0.728431,-0.392232,0.474880,-1.103128,-0.323458,0.412151
1,0.242391,0.520756,0.400676,1.232092,0.471164,0.728431,-0.392232,-0.481387,0.784879,-0.050861,0.412151
2,1.231743,0.520756,0.400676,1.232092,0.471164,0.728431,-0.392232,0.267486,0.831915,0.957580,0.412151
3,1.231743,0.520756,0.400676,1.232092,0.471164,0.728431,-0.392232,-0.902906,0.921380,-0.514579,0.412151
4,-0.746961,-1.920286,0.400676,1.232092,0.471164,-1.372813,-0.392232,-0.384288,-1.103128,-1.011915,0.412151
5,-0.746961,-1.920286,0.400676,1.232092,0.471164,0.728431,2.549510,-1.022705,0.997686,0.326182,0.412151
6,0.242391,-1.920286,0.400676,-0.042486,-2.122401,-1.372813,-0.392232,-0.979882,-1.103128,-1.568829,0.412151
7,1.231743,-1.920286,-2.495780,-1.317064,0.471164,0.728431,-0.392232,-0.123057,-1.103128,0.258921,0.412151
8,1.231743,0.520756,0.400676,1.232092,0.471164,0.728431,-0.392232,1.813899,-1.103128,1.556839,-1.741920
9,-0.746961,-1.920286,0.400676,-0.042486,0.471164,-1.372813,-0.392232,-0.863885,0.906141,-0.099255,0.412151

In [10]:
# شمارش تعداد هر لیبل در ستون Loan_Status
label_counts = df['Loan_Status'].value_counts()

print(label_counts)

Loan_Status
1    414
0    186
Name: count, dtype: int64

### Result:  
- Approximately 68.73% of individuals have taken a loan.  
- Approximately 31.27% of individuals have not taken a loan.

With a simple look at the labels column, we will see that we need to find a way to fix the imbalaced data problem

### We used a method called smote and split our data for further process

In [11]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from collections import Counter

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

# Separating features (X) and target (y)
X = df.drop('Loan_Status', axis=1)
y = df['Loan_Status']

# Checking class distribution before resampling
print("Before balancing:")
print(Counter(y))

# Splitting into train-test sets
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

# Applying SMOTE to balance the training data
smote = SMOTE(random_state=42)
X_train_smote, y_train_smote = smote.fit_resample(Xtrain, ytrain)

# Checking class distribution after SMOTE
print("After balancing:")
print(Counter(y_train_smote))

Before balancing:
Counter({1: 414, 0: 186})
After balancing:
Counter({0: 290, 1: 290})

In [12]:
from sklearn.linear_model import LogisticRegression # 1. choose model class
model = LogisticRegression( solver = "lbfgs", max_iter=1000)                       # 2. instantiate model
model.fit(X_train_smote, y_train_smote)                  # 3. fit model to data
y_model = model.predict(Xtest)

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest, y_model)

0.75

In [14]:
from sklearn.model_selection import cross_val_score


np.mean(cross_val_score(model, X_train_smote, y_train_smote, cv=5))

np.float64(0.7258620689655172)

In [15]:
from sklearn.model_selection import KFold
scores = cross_val_score(model, X_train_smote, y_train_smote, cv=KFold(n_splits= 5, shuffle= True,random_state= 42))
scores

array([0.69827586, 0.75862069, 0.72413793, 0.70689655, 0.67241379])

In [16]:
from sklearn.model_selection import LeaveOneOut

scores = cross_val_score(model, X_train_smote, y_train_smote, cv=LeaveOneOut())
np.mean(scores)

np.float64(0.7051724137931035)

In [17]:

# فرض کنید ستون "Loan_Status" در df هدف بوده است
feature_columns = [col for col in df.columns if col != 'Loan_Status']

# فیلتر کردن فیچرها در df2
X_test_df2 = df2[feature_columns]

# اطمینان از همسان‌سازی انواع داده‌ها
X_test_df2 = X_test_df2.astype(float)

# انجام پیش‌بینی روی جدول df2
predictions_df2 = model.predict(X_test_df2)

# افزودن ستون پیش‌بینی به df2
df2['Predicted_Loan_Status'] = predictions_df2

# مشاهده جدول جدید
df2.head(20)

,Dependents,Education,Credit_History,Property_Area,Gender_Male,Married_Yes,Self_Employed_Yes,Log_ApplicantIncome,Log_CoapplicantIncome,Log_LoanAmount,BoxCox_Loan_Amount_Term,Predicted_Loan_Status
0,-0.746961,0.520756,0.400676,1.232092,0.471164,0.728431,-0.392232,0.474880,-1.103128,-0.323458,0.412151,1
1,0.242391,0.520756,0.400676,1.232092,0.471164,0.728431,-0.392232,-0.481387,0.784879,-0.050861,0.412151,1
2,1.231743,0.520756,0.400676,1.232092,0.471164,0.728431,-0.392232,0.267486,0.831915,0.957580,0.412151,1
3,1.231743,0.520756,0.400676,1.232092,0.471164,0.728431,-0.392232,-0.902906,0.921380,-0.514579,0.412151,1
4,-0.746961,-1.920286,0.400676,1.232092,0.471164,-1.372813,-0.392232,-0.384288,-1.103128,-1.011915,0.412151,0
5,-0.746961,-1.920286,0.400676,1.232092,0.471164,0.728431,2.549510,-1.022705,0.997686,0.326182,0.412151,1
6,0.242391,-1.920286,0.400676,-0.042486,-2.122401,-1.372813,-0.392232,-0.979882,-1.103128,-1.568829,0.412151,1
7,1.231743,-1.920286,-2.495780,-1.317064,0.471164,0.728431,-0.392232,-0.123057,-1.103128,0.258921,0.412151,0
8,1.231743,0.520756,0.400676,1.232092,0.471164,0.728431,-0.392232,1.813899,-1.103128,1.556839,-1.741920,1
9,-0.746961,-1.920286,0.400676,-0.042486,0.471164,-1.372813,-0.392232,-0.863885,0.906141,-0.099255,0.412151,0
10,-0.746961,-1.920286,0.400676,1.232092,0.471164,-1.372813,-0.392232,-0.473888,-1.103128,-0.725643,0.412151,0
11,0.242391,0.520756,0.400676,-0.042486,0.471164,0.728431,-0.392232,-1.008533,0.787616,0.454351,0.412151,1
12,2.221095,0.520756,0.400676,1.232092,0.471164,-1.372813,-0.392232,-0.013820,-1.103128,-2.339658,-2.263856,1
13,1.231743,0.520756,-2.495780,-0.042486,0.471164,0.728431,-0.392232,1.639257,-1.103128,0.503429,0.412151,0
14,-0.746961,0.520756,0.400676,-0.042486,-2.122401,-1.372813,-0.392232,0.160908,-1.103128,-0.082994,0.412151,1
15,0.242391,0.520756,0.400676,1.232092,0.471164,-1.372813,-0.392232,0.460529,-1.103128,0.027311,0.412151,0
16,1.231743,0.520756,0.400676,1.232092,0.471164,0.728431,-0.392232,0.133239,0.956394,0.878570,0.412151,1
17,2.221095,0.520756,0.400676,-0.042486,0.471164,0.728431,-0.392232,-0.161260,0.396960,-0.050861,0.412151,1
18,-0.746961,0.520756,0.400676,1.232092,0.471164,0.728431,-0.392232,1.211892,1.214135,1.696026,0.412151,1
19,-0.746961,0.520756,0.400676,-0.042486,0.471164,-1.372813,-0.392232,-1.808685,1.001281,-0.514579,-2.263856,1